body {
  background: url(./wreckfest_tracks/Bleak_city_loading.png) top left no-repeat ;
  background-attachment: fixed;
  background-size: cover;
  padding: 20px;
}

@font-face {
  font-family: 'American Captain';
  src: url('./fonts/AmericanCaptain.woff2') format('woff2'),
      url('./fonts/AmericanCaptain.woff') format('woff'),
      url('./fonts/AmericanCaptain.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-size: 50px;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
  letter-spacing: 1px;

}

h3, input[type="submit"] {
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 10px;
}

p, footer {
  text-align: left;
  font-size: 20px;
}

h1, h2, h3{
  text-align: center;
} 

h1, h2, h3, p, label, footer, table, input[type="submit"]{
  font-family: 'American Captain',sans-serif;
  color: white;
}

fieldset{
  margin-top: 10px;
}

table, th, td{
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-collapse: collapse;
  border: 1px solid #e7d632;
  width: 100%;
}

th, td{
  width: 50%;
}

.map{
  border: 1px solid #e7d632;
padding-top: 10px;
}

.results{
/*  display: inline-block;*/
  column-width: 300px;

}

.track-results, .car-results{
  break-inside: avoid-column;
  padding-top: 5px;
}

label{
  text-align: right;
  float:left;
  margin-right:15px;
}

.emphasised {
  font-style: italic;
}

.menu {
  width: 80%;
  background-color: rgb(65, 64, 64);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 800px;
}

img, .map {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type="submit"] {
  display: block;
  width: 50%;
  margin: 1em auto;
  height: 2em;

  background-color: rgb(65, 64, 64);
  border-color: #e7d632;
  color: white;
  min-width: 150px;
}

hr {
  height: 2px;
  background-color: #e7d632;
  border-color: #e7d632;
  ;
}

.bottom-line {
  margin-top: 25px;
}



/* FOOTER */

a, a:visited {
  color: white;
}

a:hover, a:active {
  color: #e7d632;
}
